body{
  padding: 0;
  margin: 0;
  background-image: url("images/bg-alternate.gif");
  background-size: cover;
  text-align: center;
}
.albedo-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -153px;
  margin-left: -146px;
  font-family: 'Open Sans', sans-serif;
  height: 306px;
  width: 292px;
  background: rgba(0,0,0,.55);
  box-shadow: 0px 0px 305px 320px rgba(0,0,0,.55);
}
.albedo-form img {
  width: 292px;
}
.albedo-form textarea:focus, .albedo-form input:focus {
  outline: none;
}
.albedo-form form {
  margin: 2em auto;
}
.albedo-form form input {
  font-size: 1.2em; 
}
.albedo-form .button--nuka {
  float: none;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  min-width: 176px;
  padding: .75em 5em; 
}
button{
  cursor: pointer;
}