body{
    overflow:hidden;
    background-color: gray;
}

#flipbook{
    width:1350px;
    height:478px;
}

#flipbook .page{
    width:1350px;
    height:478px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

img {
    width: 100%;
    height: auto;
}
.page26 {
    background: url("Brochure Pages/draft626.jpg");
    width: 14%;
    height: 28%;
    padding: 81px 452px 315px 128px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.page27 {
    background: url("Brochure Pages/draft636.jpg")!important;
    background-size: 100%!important;
    background-repeat: no-repeat;
}
.page27-gif1 {
    width: 23%;
    padding-top: 22px;
    margin-top: 272px;
    padding-left: 166px;
}
.page27-gif2 {
    width: 28%;
    padding-left: 85px;
}
.page44 {
    background: url("Brochure Pages/draft644.jpg")!important;
    background-size: 100%!important;
    background-repeat: no-repeat;
}
.page44-gif1 {
    width: 21%;
    margin-top: 343px;
    padding-right: 374px;
}
.page44-gif2 {
    margin-top: 176px;
    width: 21%;
    height: 18%;
    right: 193px;
    position: absolute;
}
.page46 {
    background: url("Brochure Pages/draft646.jpg")!important;
    background-size: 100%!important;
    background-repeat: no-repeat;
}
.page46-gif1 {
    width: 21%;
    margin-top: 343px;
    padding-right: 374px;
}
.page46-gif2 {
    margin-top: 101px;
    width: 21%;
    right: 193px;
    position: absolute;
}
.page34 {
    background: url("Brochure Pages/draft634.jpg")!important;
    background-size: 100%!important;
    background-repeat: no-repeat;
}
.page34-gif1 {
        width: 68%;
    margin-right: 177px;
    margin-top: 92px;
}