
.albedo-form {
  background-image: url("images/bg.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  height: 28em;
  padding-top: 11em;

  img {
    width: 17em;
  }

  textarea:focus, input:focus {
    outline: none;
    color: rgba(128, 128, 128, 0.7);
  }

  form {
    margin: 0 auto;
    width: 285px;
    input {
    	font-size: 1.2em
    }

  }

  .button--nuka {
    float: none;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    min-width: 176px;
    padding: .5em 5em;
  }
}